{% extends "layout.html" %}

{% block content %}
    <h1>Quem Somos</h1>
    <h4>Lar Ideal Imóveis é uma empresa destinada a ajudar você a encontrar seu imóvel pelas melhores condições!</h4>
    <p></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6454.703429308479!2d-48.00328606398274!3d-15.857142788009575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbr!4v1702062329024!5m2!1sen!2sbr" width="70%" height="600" style="border:0; margin-left: 15%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block head %}
    <title>Lar Ideal Imóveis - Quem Somos</title>
{% endblock %}
